* {
margin:0px;
padding:0px;
}
.title {
font-size:18px;
}
.biaoyu {
border-bottom:2px solid orange;
font-size:20px;
color:orange;
}
.price {
font-size:18px;
color:red;
}
#table tr td{
    text-align:center;
    width:80px;
}
#table tr {
background-color:#d7cca9;
}

